// Custom styles for the themes molecules & organisms

/* Exemple
  * .navbar-light .navbar-nav .nav-link:hover{
  *  transform: scale(1.1);
  *  color: var(--bs-light-blue);
  *}
*/
@import url('https://fonts.googleapis.com/css2?family=Fira+Mono:wght@400;700&family=Ubuntu+Mono:wght@400;700&display=swap');
// font-family: 'Fira Mono', monospace;
// font-family: 'Ubuntu Mono', monospace;

.navbar-dark {
    height: 10vh;
  & .navbar-nav .nav-link:hover{
  transform: scale(1.1);
  color: var(--bs-term_yellow);
  }
}

.dropdown-menu{
  & .dropdown-item:hover{
    background-color: #333;
    color: $term_yellow;
  }
}

h2 {
  font-family: 'Ubuntu Mono', monospace;
  // font-size: 2.5rem;
  font-weight: 700;
}

hr {
  border: 1px solid var(--bs-term_green);
  margin-top: 1rem;
  margin-bottom: 1rem;
  width: 80%;
  margin: auto;
}

footer {
  padding-top: 1.5rem;
  padding-bottom: 1rem;
  &.row {
    height: 10vh;
  }
  & p {
    color: var(--bs-term_blue);
    text-decoration: none;
  }
  & a {
    color: var(--bs-term_green);
    text-decoration: none;
    &:hover {
      color: var(--bs-term_yellow);
    }
  }
}

#btn-back-to-top {
  position: fixed;
  bottom: 20px;
  right: 20px;
  display: none;
}